{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4">List of Cards from {{ name.name }}</h1>
    </div>
  </div>
  <div class"row">
    <div class="col">
      <form method="post" action="/editcard">
        {% for card in cards %}
        <input type="radio" class="form-check-input" name="selected" checked value="{{ card.id }}">{{ card.name }}</input><br>
        <p>{{ card.desc}}</p><br>
        {% endfor %}
        <input type="submit" value="Edit Card List" class="btn btn-primary btn-block">
      </form>
      <br>
      <button onclick="location.href = '/';" id="myButton" class="btn btn-primary btn-block" >Return to beginning</button>
    </div>
  </div>
{% endblock %}